body {
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    transition: background-color 0.5s ease;
}

.dark-mode {
    background-color: #1a202c; /* Dark background */
}

.light-mode {
    background-color: #f7fafc; /* Light background */
    color: black;
}

.dark-mode h1, .dark-mode h2, .dark-mode p, .dark-mode a {
    color: white;
}

.light-mode h1, .light-mode h2, .light-mode p, .light-mode a {
    color: black;
}

